.form-btn{
    height: 40px;
    border-radius: 7px;
}
.form-btn.btn-submit{
    background-color: #001529;
    border: #001529;
    color: white;
    &:hover{
        background-color: #0467c4;
    }
    &:focus{
        background-color: #001529;
        border: #001529;
        color: white;
    }
}
